<nav role="navigation">
  <ul>
    <li><a href="{{ site.baseurl }}/" {% if page.url == "/" %}class="active"{% endif %}>Cover</a></li>/
    <li><a href="{{ site.baseurl }}/backnumbers" {% if page.url contains "/backnumbers" %}class="active"{% endif %}>Back Numbers</a></li>/
    <li><a href="{{ site.baseurl }}/beats" {% if page.url == "/beats" %}class="active"{% endif %}>Beats</a></li>
    <li><a href="{{ site.baseurl }}/about" {% if page.url == "/about" %}class="active"{% endif %}>About</a></li>

    <li><div class="theme-toggle"><a class="switch"><input type="checkbox" id="check" /><label id="text" for="check">Dark</label></a></div></li>

  </ul>
  
</nav>