html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-color: #edf2f7;
  color: #333333;
  margin: 18px;
}
header {
  width: 100%; /* Full width */
  margin: -18px;
}
main {
  margin: 0 auto;
  max-width: 50rem;
  margin-top: 104px; /* Add a top margin to avoid content overlay */
}
.grid {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(10rem, auto);
  grid-gap: 1rem;
}
.card {
  display: flex;
  align-items: left;
  justify-content: left;
  min-height: 10rem;
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  flex: 1 1 10rem;
  border-radius: 10px;
}
nav {
  position: fixed;
  z-index: 1000;
  background-color: #edf2f7;
  position: fixed; /* Set the navbar to fixed position */
  width: 100%; /* Full width */
  margin-top: -86px;
  -webkit-box-shadow: 0 0.75rem 1.5rem #cccccc;
  box-shadow: 0 0.75rem 1.5rem #cccccc;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  ul {
    position: relative;
    margin-right: 0%;
    padding-right: 0%;
    text-align: right;
    font-family: roboto;
    font-size: 1rem;
    white-space: nowrap;
    li {
      display: inline-block;
      margin-right: 0.5rem;
      margin-left: 0.5rem;
    }
    a.active {
      color: #ff8095;
      opacity: 1;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
a,
a:visited {
  text-transform: uppercase;
  color: inherit;
  letter-spacing: 0.05em;
  &:hover {
    opacity: 0.4;
  }
}
nav {
  a.active {
    font-weight: 700;
  }
  a,
  a:visited {
    font-weight: 400;
  }
}
//Color Cards
@supports (display: grid) {
  .card {
    margin: 0;
  }
}
.card:nth-child(4n + 1) {
  background: #ffffff;
  a,
  h2,
  .date {
    color: #888888;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
}
.card:nth-child(4n + 2) {
  background: #ff8095;
  a,
  h2,
  .date {
    color: #ffd480;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
}
.card:nth-child(4n + 3) {
  background: #ffd480;
  a,
  h2,
  .date {
    color: #ff8095;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
}
.card:nth-child(4n + 4) {
  background: #ffffff;
  a,
  h2,
  .date {
    color: #888888;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
}
.card {
  //min-height: 100%;
  background: white;
  -webkit-box-shadow: 0 0.75rem 1.5rem #cccccc;
  box-shadow: 0 0.75rem 1.5rem #cccccc;
  //display: flex;
  //flex-direction: column;
  text-decoration: none;
  //position: relative;
  //top: 0;
  color: inherit;
}
.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}
.card a {
  font-family: Montserrat;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
}
.card h2 {
  font-size: 1.3rem;
  margin: 0;
  opacity: 0.8;
  font-weight: 400;
  font-style: italic;
}
.card h1 {
  font-size: 1.3rem;
  margin: 0;
}
.card time {
  font-family: Roboto;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.card .meta {
  padding: 2rem;
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
}
.post {
  background-color: white;
  color: #666666;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 15px;
  -webkit-box-shadow: 0 0.75rem 1.5rem #cccccc;
  box-shadow: 0 0.75rem 1.5rem #cccccc;
  border-radius: 10px;
}
.card {
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  &:hover {
    transform: scale(1.02);
  }
}
ul,
ol {
  padding: 0;
  list-style-position: inside;
}
table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  tr {
    border-bottom: 1px solid black;
  }
  td {
    padding: 0.5rem;
  }
}
img {
  width: 100%;
  margin: 0.5rem 0;
}
//Mobile Mode
@media only screen and (max-width: 5120px) {
  nav {
    ul {
      margin-right: 42%;
    }
  }
}
@media only screen and (max-width: 4096px) {
  nav {
    ul {
      margin-right: 40%;
    }
  }
}
@media only screen and (max-width: 3840px) {
  nav {
    ul {
      margin-right: 39.4%;
    }
  }
}
@media only screen and (max-width: 3000px) {
  nav {
    ul {
      margin-right: 36.5%;
    }
  }
}
@media only screen and (max-width: 2960px) {
  nav {
    ul {
      margin-right: 36%;
    }
  }
}
@media only screen and (max-width: 2880px) {
  nav {
    ul {
      margin-right: 36%;
    }
  }
}
@media only screen and (max-width: 2560px) {
  nav {
    ul {
      margin-right: 34%;
    }
  }
}
@media only screen and (max-width: 1920px) {
  nav {
    ul {
      margin-right: 29%;
    }
  }
}
@media only screen and (max-width: 1680px) {
  nav {
    ul {
      margin-right: 33%;
    }
  }
}
@media only screen and (max-width: 1600px) {
  nav {
    ul {
      margin-right: 25%;
    }
  }
}
@media only screen and (max-width: 1440px) {
  nav {
    ul {
      margin-right: 22%;
    }
  }
}
@media only screen and (max-width: 1366px) {
  nav {
    ul {
      margin-right: 20%;
    }
  }
}
@media only screen and (max-width: 1280px) {
  nav {
    ul {
      margin-right: 18%;
    }
  }
}
@media only screen and (max-width: 1194px) {
  nav {
    ul {
      margin-right: 16%;
    }
  }
}
@media only screen and (max-width: 1152px) {
  nav {
    ul {
      margin-right: 15%;
    }
  }
}
@media only screen and (max-width: 1024px) {
  nav {
    ul {
      margin-right: 10%;
    }
  }
}
@media only screen and (max-width: 900px) {
  nav {
    ul {
      margin-right: 5%;
    }
  }
}
@media only screen and (max-width: 835px) {
  nav {
    ul {
      margin-right: 2%;
    }
  }
}
@media only screen and (max-width: 809px) {
  nav {
    ul {
      margin-right: 2%;
    }
  }
}
@media only screen and (max-width: 600px) {
  .post {
    padding-top: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  main {
    margin-top: 64px; /* Add a top margin to avoid content overlay */
  }
  .card .meta {
    padding: 1rem;
  }
  nav {
    bottom: 0; /* Position the navbar at the top of the page */
    -webkit-box-shadow: 0 -0.2rem 1rem #999999;
  box-shadow: 0 -0.2rem 1rem #999999;
    ul {
      text-align: center;
    }
    .emboss {
      display:none;
    }
    .burger {
      right: 8px;
      top: -4px;
    }
  }
}
//Dark Mode
[data-theme="dark"] {
  body {
    background-color: #333333;
    color: #999999;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  nav {
    background-color: #333333;
    -webkit-box-shadow: 0 0.75rem 1.5rem #222222;
    box-shadow: 0 0.75rem 1.5rem #222222;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    a.active {
      color: #ff8095;
      opacity: 1;
      font-weight: 700;
      &:hover {
        opacity: 0.7;
      }
    }
    a,
    a:visited {
      opacity: 1;
      font-weight: 400;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .card {
    -webkit-box-shadow: 0 0.75rem 1.5rem #222222;
    box-shadow: 0 0.75rem 1.5rem #222222;
  }
  footer {
    color: #999999;
  }
  #search-input {
    color: #333333;
    border: 1px solid grey;
    background: #cccccc;
  }
  .post {
    background-color: #808080;
    color: #333333;
    -webkit-box-shadow: 0 0.75rem 1.5rem #222222;
    box-shadow: 0 0.75rem 1.5rem #222222;
    p,
    h2,
    .date {
      color: #edf2f7;
    }
    a {
      color: #cccccc;
    }
  }
  .card:nth-child(4n + 1) {
    background: #808080;
    a,
    h2,
    .date {
      color: #444444;
      -webkit-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out;
    }
  }
  .card:nth-child(4n + 2) {
    background: #ff80958e;
    a,
    h2,
    .date {
      color: #444444;
      -webkit-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out;
    }
  }
  .card:nth-child(4n + 3) {
    background: #ffd5808e;
    a,
    h2,
    .date {
      color: #444444;
      -webkit-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out;
    }
  }
  .card:nth-child(4n + 4) {
    background: #808080;
    a,
    h2,
    .date {
      color: #444444;
      -webkit-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out;
    }
  }
}
/* The switch - the box around the slider */
.switch {
  top: 3px;
  position: relative;
  display: inline-block;
  width: 39px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffd480;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: -0.2px;
  bottom: 0px;
  background-color: #808080;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
input:checked + .slider {
  background-color: #ff8095;
}
input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider:hover::before {
  -webkit-box-shadow: 0 -8px 4px rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.2);
}

.slider.round:before {
  border-radius: 50%;
}
footer {
  margin: 1rem 0;
  text-align: center;
}
#search-input {
  border-radius: 20px;
  border-width: 1px;
  color: #454545;
  padding: 5px;
  font-size: 1rem;
  border: 1px solid grey;
  width: 30%;
  background: #f1f1f1;
}
/*
.card:nth-child(1n) {
  background: #96d0c3;
}
.card:nth-child(2n) {
  background: #ef7d4d;
}
.card:nth-child(3n) {
  background: #fbcfb9;
}
.card:nth-child(4n) {
  background: #fac14e;
}
.card:nth-child(5n + 1) {
  background: #ef7d4d;
}
.card:nth-child(6n + 1) {
  background: #ef7d4d;
}
.card:nth-child(7n + 1) {
  background: #fac14e;
}
*/






.burger {
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  display: inline-block;
  right: 120px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  
  span {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 6px;
    border-radius: 30px;
    -webkit-box-shadow: 0 -4px 2px rgba(255, 255, 255, 0.06);
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.06);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    
    &:nth-of-type(1) {
      background-color: #ffd480;
      top: 0px;
    }
    &:nth-of-type(2) {
      background-color: #ffffff;
      top: 10px;
    }
    &:nth-of-type(3) {
      background-color: #ff8095;
      top: 20px;
    }
  }
  
  &:hover {
    span {
      &:nth-of-type(1),
      &:nth-of-type(3) {
        -webkit-box-shadow: 0 -8px 4px rgba(255, 255, 255, 0.1);
      box-shadow: 0 8px 4px rgba(0, 0, 0, 0.1);
      transform: scaleY(2);
      }
      
      

      &:nth-of-type(1) {
        transform: translateY(3px);
      }
      &:nth-of-type(2) {
        opacity: 1;
      }
      &:nth-of-type(3) {
        transform: translateY(-3px);
      }
    }
  }
  &:focus {
    outline: 0;
    background-color: transparent;
  }
}





.emboss {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  margin-top: -8px;
	font: 700 32px quicksand;
  text-align: center;
  text-shadow: 
		0 -4px 2px rgba(255, 255, 255, 0.3),
		0 4px 2px rgba(0, 0, 0, 0.2);
  color: BLACK;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  }

  .emboss:hover {
    -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
    text-shadow: 
0 -8px 4px rgba(255, 255, 255, 0.3),
0 8px 4px rgba(0, 0, 0, 0.2);

}