html {
  box-sizing: border-box;
  margin:0; 
  padding:0;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
    background-color: #edf2f7;
    color: #333333;
    transition: 0.4s ease-in-out;
}













[data-theme="dark"] {
  body {
    background-color: #333333;
    color: #333333;
    transition: 0.4s ease-in-out;
}
nav {
  ul {
      a.active {
        color: #73E6AC !important;
        font-weight: 900 !important;
      }
  }
  a, a:visited {
    color: #999999 !important;
  }
}

footer {
  color: #999999 !important;
}


#search-input {
border-radius: 1px;
border-width: 1px;
color: #454545;
padding: 5px;
font-size: 1rem;
border: 1px solid grey;
width: 30%;
background: #edf2f7;
}
.post {
	background-color: #808080;
  color: #333333;
	padding: 2rem;
	-webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.1);
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.1);
  p {
    color: #edf2f7;
  }
  h2 {
    color: #edf2f7;  
  }
  .date {
    color: #edf2f7;  
    }
    a {
      color: #cccccc;
    }
}


.card:nth-child(4n + 1) {
  background: #808080;
  color: #333333;
  h2 {
    color: #cccccc;  
  }
  .date {
    color: #cccccc;  
    }
  }
.card:nth-child(4n + 2) {
  background: #808080;
  color: #333333;
  h2 {
    color: #cccccc;  
  }
  .date {
    color: #cccccc;  
    }
  }
.card:nth-child(4n + 3) {
  background: #808080;
  color: #333333;
  h2 {
    color: #cccccc;  
  }
  .date {
    color: #cccccc;  
    }
  }
.card:nth-child(4n + 4) {
  background: #808080;
  color: #333333;
  h2 {
    color: #cccccc;  
  }
  .date {
    color: #cccccc;  
    }
  }

}























/* The switch - the box around the slider */
.switch {
  top: 3px;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999999;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: -0.2px;
  bottom: 0px;
  background-color: #eee;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
input:checked + .slider {
  background-color: #BFBFBF;
}
input:focus + .slider {
  box-shadow: 0 0 0 #BFBFBF;
}
input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}
.slider.round:before {
  border-radius: 50%;
}
















header, main {
	margin: 0 auto;
    max-width: 50rem;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(10rem,auto);
    grid-gap: 1rem
}

.card {
    display: flex;
    align-items: left;
    justify-content: left;
    min-height: 10rem;
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
    flex: 1 1 10rem;
    }

@supports (display:grid) {
    .card {
        margin: 0
    }
}
.card:nth-child(1n) {
  background: #96d0c3;
}
.card:nth-child(2n) {
  background: #ef7d4d;
}
.card:nth-child(3n) {
  background: #fbcfb9;
}
.card:nth-child(4n) {
  background: #fac14e;
}

.card:nth-child(5n + 1) {
  background: #ef7d4d;
}

.card:nth-child(6n + 1) {
  background: #ef7d4d; 
}

.card:nth-child(7n +1) {
  background: #fac14e;
}

.card:nth-child(4n + 1) {
  background: #73E6AC ;
}
.card:nth-child(4n + 2) {
  background: #FF8095;
}
.card:nth-child(4n + 3) {
  background: #FFD480;
}
.card:nth-child(4n + 4) {
  background: #80D4FF;
}




/*
.card:nth-child(4n + 1) {
  background: #b3b3b3;
}
.card:nth-child(4n + 2) {
  background: #999999;
}
.card:nth-child(4n + 3) {
  background: #808080;
}
.card:nth-child(4n + 4) {
  background: #666666;
}

*/


.card {
  //min-height: 100%;
  background: white;
  -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.1);
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.1);
  //display: flex;
  //flex-direction: column;
  text-decoration: none;
  //position: relative;
  //top: 0;
  color: inherit;
}

.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

.card a {
  font-family: Montserrat;
  font-size: 1.2rem;
  text-transform: uppercase;
	text-decoration: none;
}

.card h2 {
  font-size: 1.3rem;
  margin: 0;
  opacity: 0.8;
  font-weight: 400;
  font-style: italic;
}

.card h1 {
  font-size: 1.3rem;
  margin: 0;
}

.card time {
  font-family: Quicksand;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .05em;

}

.card .meta {
   padding: 2rem;
   display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
}

.post {
	background-color: white;
  color: #666666;
	padding: 2rem;
	-webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.1);
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.1);
	
}

.card {
	transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  &:hover {
    transform: scale(1.02);
  }
}
ul, ol {
	padding: 0;
	list-style-position: inside;
}

table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;

    tr {
        border-bottom: 1px solid black;
    }

    td {
        padding: 0.5rem;
    }
}

img {
    width: 100%;
    margin: 0.5rem 0;
}

nav {
    ul {
        list-style: none !important;
        padding: 0;
        text-align: right;
        font-family: Quicksand;
        font-size: 1rem;
      
        li {
            display: inline-block;
        }
        a.active {
          color: #73E6AC !important;
          font-weight: 900 !important;
        }
    }
    a, a:visited {
        margin: 0.5rem;
        text-decoration: none;
	    text-transform: uppercase;
	    color: inherit;
	    letter-spacing: .05em;
	    //opacity: 0.6;
    }
}

footer {
    margin: 1rem 0;
    text-align: center;
}


#search-input {
  border-radius: 1px;
  border-width: 1px;
  color: #454545;
  padding: 5px;
  font-size: 1rem;
  border: 1px solid grey;
  width: 30%;
  background: #f1f1f1;
 }