body {
  font-size: 1rem;
  line-height: 1.5;
  text-rendering: optimizeLegibility; 
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
}

nav a {
  font-weight: 900;
  font-style: italic;

  &:hover {
    opacity: 0.6;
  }

}

a {
  color: inherit;
}

a:link {
  color: inherit;
}

a:visited {
  color: inherit;
}


a:active {
  opacity: 0.6;
}

h3, h4, h5 {
	font-weight: 500;
}
h1 {
  font-family: montserrat;
  font-size: 2rem;
  font-weight: 500;
}

h2 {
  font-family: Libre Baskerville !important;
  font-size: 1.6rem;
  opacity: 0.8;
  font-weight: 400;
  font-style: italic;
}

p {
  font-family: quicksand;
  font-size: 1.2rem;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid black;
  font-size: 120%;
  margin: 2rem 0;
  padding: 1rem;

  p {
    margin: 0;
  }

  footer {
    font-size: 80%;
    margin: 1rem 0 0 0;
  }
}

dl {
  dt {
    margin-bottom: 0.5rem;
  }
  dd {
    font-style: italic;
    margin-bottom: 2rem;
  }
}

code, .highlight {
    background: #edf2f7;
    overflow: auto;
}
code {
	word-break: break-all;
}

code {
	padding: 0.1rem 0.3rem;
}

pre {
  padding: 1em;
}

.date {
  opacity: 0.6;
  font-family: quicksand;
  font-size: 1rem;
  font-style: italic;
  }